@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color: rgba(170,196,225,255);
    color: black;
}

h1 {
    font-family:;
}