.catalogo_container {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.catalogo_container_card {
    max-width: 100%;
    margin-left: 140%;
}

.catalogo_container .catalogo_carousel {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
}

.catalogo_container .catalogo_carousel::-webkit-scrollbar {
    display: flex;
}

.catalogo_container .catalogo_carousel .catalogo_item {
    margin: 10px;
    padding: 10px;
    width: 780px;
    height: 450px;
    flex: none;
    background-color: #4984ae;
    border-radius: 30px;
}


.catalogo_container .catalogo_carousel .catalogo_item .catalogo_image img {
    width: 80px;
    object-fit: cover;
    margin: 20px;
}

.catalogo_container .catalogo_carousel .catalogo_item .catalogo_info {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;

}

.catalogo_container .catalogo_carousel .catalogo_item .catalogo_info span {
    display: block;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.catalogo_container .catalogo_carousel .catalogo_item .catalogo_info .catalogo_name {
    font-size: 45px;

}

.catalogo_container .catalogo_carousel .catalogo_item .catalogo_description {
    margin-top: 5px;
    font-size: 18px;
    text-align: justify;
    flex-grow: 2;
}

.catalogo_container .catalogo_buttons {
    text-align: center;

}

.catalogo_container .catalogo_buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.catalogo_title {
    font-family: 'Norwester', sans-serif;
    font-size: 50px;
    display: flex;
    margin-left: -300px;
    margin-bottom: 30px;
}