.container_catalogo {
    max-width: 720px;
    display: block;
    margin-left: 25%;
    
}

.container_catalogo .carousel_catalogo {
    display: flex;
    overflow-x: auto;
    align-items: center;
    scroll-behavior: smooth;
    max-width: 100%;
}

.container_catalogo .carousel_catalogo::-webkit-scrollbar {
    display: flex;    
}

.container_catalogo .carousel_catalogo .item_catalogo {
    margin: 10px;
    padding: 10px;
    width: 700px;
    height: 450px;
    flex: none;
    background-color: #4984ae;
    border-radius: 30px;

}

.container_catalogo .carousel_catalogo .item_catalogo .image_catalogo img {
    width: 80px;
    object-fit: cover;
    margin: 20px;
}

.container_catalogo .carousel_catalogo .item_catalogo .info_catalogo {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;

}

.container_catalogo .carousel_catalogo .item_catalogo .info_catalogo span {
    display: block;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.container_catalogo .carousel_catalogo .item_catalogo .name_catalogo {
    font-size: 45px;

}

.container_catalogo .carousel_catalogo .item_catalogo .description {
    margin-top: 5px;
    font-size: 18px;
    text-align: justify;
    flex-grow: 1;
}

.container_catalogo .buttons_catalogo {
    text-align: center;
}

.container_catalogo .buttons_catalogo button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
