input {
    width: 750px;
    margin: 0 auto;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    text-align: center;
    color: #c5c5c5;
}

h1 {
    margin-top: 130px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 65px;
    font-family: Dm sans;
}

p {
    margin: 0;
    margin-left: -530px;
    font-family: Dm sans;
}

img {
    max-width: 12%;
    float: left;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.helpdesk-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container p {
    margin-bottom: 10px;
}

.box-container-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-container {
    margin: 20px;
    width: 740px;
    padding: 15px;
    background-color: #4984ae;
    text-align: center;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.text-div {
    margin-top: 4.5%;
    text-align: center;
    color: white;
}

.sb-box-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 50%;
}

.sb-box-container img {
    margin: 10px;
    max-width: 50%;
}

.text_container {
    margin: 5px;
}

.text_container .title {
    color: black;
    font-weight: bold;
    margin: 5px;
    font-family: Arial Black;
}

.text_container .bold {
    font-weight: bold;
}

.sb-box-container p {
    margin: 0;
    margin-left: 5px;
    text-align: left;

}