h1 {
    margin-top: 130px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 65px;
    font-family: Dm sans;
}

p {
    margin: 0;
    margin-left: -530px;
    font-family: Dm sans;
}

img {
    max-width: 12%;
    float: left;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.helpdesk-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-bottom: 4.8%;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container p {
    margin-bottom: 10px;
}

.search_box{
    background-color: white;    
    width: 750px;
    height: 35px;
    border-radius: 40px;
    padding: 10px;
    display:flex;
    justify-content: space-between;        
}
.search_box input{
    text-align: center;
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 750px;
    height: 20px;
}
.search_box img{
    height: 20px;  
    cursor: pointer;
    margin: 0;
}

.box-container-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.box-container {
    margin: 20px;
    width: 740px;
    height: 150px;
    padding: 15px;
    background-color: #4984ae;
    text-align: center;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.box-container img{
    align-items: center;
    margin-top: 20px;
}

.text-div {
    margin-top: 4.5%;
    text-align: center;
    color: white;
}

.sb-box-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 70%;
}

.sb-box-container img {
    margin: 10px;
    max-width: 50%;
}

.text_container {
    margin: 5px;
}

.text_container .title {
    color: black;
    font-weight: bold;
    margin: 5px;
    font-family: Arial Black;
}

.text_container .bold {
    font-weight: bold;
}

.sb-box-container p {
    margin: 0;
    margin-left: 5px;
    text-align: left;

}
