.container {
    display: flex;
    flex-direction:row;    
    align-items: center;
    max-width: 100%;
}

.logo_brand {
    max-width: 70%;     
}

.aside{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: left;    
}

.slogan {
    font-family: 'Montserrat Classic',sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 5%;    
}

.name {
    margin: 0;      
}

.map_img {
    max-width: 20%;
    float: right;  
}

h2 {
    font-family: 'Norwester',sans-serif;
    font-size: 75px;
    font-weight: 600;
}

h3 {
    font-family: 'Montserrat Classic',sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 3;
}

.text{
    font-family: 'Montserrat Ligth',sans-serif;
    margin-left: 0;
    font-size: 17px;
    letter-spacing: 1px;
    max-width: 700px;
    text-align: justify;
}