.container {
    display: flex;
    flex-direction:row;    
    align-items: center;
    max-width: 89%;
    height: 90vh;
    margin-left: 40px;
}

.logo_brand {
    max-width: 120%;     
}

.aside{
    display: flex;
    flex-direction: column;
    padding: 110px;  
}

.slogan {
    font-family: 'Montserrat Classic',sans-serif;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    line-height: 3;  
}

.name { 
    font-size: 13px;
    margin-left: 179px;
}

.map_img {
    max-width: 32%;
    float: right;  
}

h2 {
    font-family: 'Norwester',sans-serif;
    font-size: 80px;
    font-weight: 600;
}

h3 {
    font-family: 'Montserrat Classic',sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 3;
}

.text{
    font-family: 'Montserrat Ligth',sans-serif;
    margin-left: 0;
    font-size: 17px;
    letter-spacing: 1px;
    max-width: 700px;
    text-align: justify;
}