.container {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

.home-container-first{
    border: 1px solid black;
    padding: 10px;
    background-color: red;
    max-width: 30%;
}

.home-container-second{
    background-color: blue;
    max-width: 70%;
}