
.footer {
    background-color: #0d3a5c;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;    
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;    
  }
  
  .column {
    flex: 33.33%;
    padding: 10px;
    box-sizing: border-box;

  }
  
  .column h3 {
    margin-top: 0;
    font-family: Montserrat Classic;
  }
  
  .column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .column ul li {
    margin-bottom: 10px;   
    font-family: Montserrat Ligth; 
  }
  
  a {
    display: inline-block;
    margin-right: 10px;
    color: white;    
    text-decoration: none;    
  }
  
  @media (max-width: 767px) {
    .column {
      flex: 100%;
    }
  }
 
  