
.footer_container {
    background-color: #0d3a5c;    
    display: flex;
    flex-direction: column;   
    width: 100%;
    height: 100%
  }
  
  .footer_row {
    display: flex;
    flex-wrap: wrap;    
  }
  
  .footer_column {
    flex: 33.33%;
  }
  
  .footer_title {
    font-size: 20px;
    color: white;  
    margin-top: 15px;
    margin-bottom: 20px;    
    text-align: center;
  }
  
  .footer_list_itens {
    color: white;  
    list-style: none;    
    padding: 0;
    text-align: center;
  }
  
  .footer_list_itens li {
    margin-bottom: 10px;
          
  }
  
  .footer_list_itens a {
    color: white;
    display: inline-block;
    margin-right: 10px;      
    text-decoration: none;    
  }
  
  @media (max-width: 767px) {
    .footer_column {
      flex: 100%;
    }
  }
 
  