html, body {
    scroll-behavior: smooth;
}

.navbar {
    top: 0;   
    width: 100%;   
    height: 50px;
    background-color: #0d3a5c;
    font-size: 20px;   
    list-style-type: none;
    position: fixed;
    overflow: hidden;  
}

/* NAVBAR HEADER / LOGO*/

.navbar > .navbar-header > .logo-image {
    max-width: 40px;    
    margin: 5px;
    margin-left: 30px;
}

/* NAVBAR MENU*/
.navbar > .navbar-menu{
    display: inline-flex;
    float: none;
    flex-wrap: nowrap;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self: stretch;
}

.navbar > .navbar-menu > .item{
    position: relative;
    display: inline-block; 
    width: 100%;
    height: 50px;
    white-space: nowrap;
    text-align: center;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

.navbar > .navbar-menu > .home-button:hover{
    background: linear-gradient(90deg, #895cfd, #5ce0e6);
    color: white;
}
.navbar > .navbar-menu > .portfolio-button:hover{
    background: linear-gradient(90deg, #5ce0e6, #014bac);
    color: white;
}
.navbar > .navbar-menu > .helpdesk-button:hover{
    background: linear-gradient(90deg,#014bac, #1970df);
    color: white;
}


/* NAVBAR LOGIN BUTTON*/
.navbar > .navbar-direita{
    display: inline-flex;
    float:right;
    height: 100%;
    padding: 10px;
    padding-right: 20px;
}

.navbar > .navbar-direita > .login-button{    
    border: none;
    color: white;
    border-radius: 9px;
    height: 30px;
    width: 100px;
    background: linear-gradient(90deg, #0a4cb0, #bd69e2);
}



